<h1>{{title}}</h1>
<p>Do you like Snacks too?</p>
<a href='/snacks'>Go to Snack Reviews</p>
<img style="pointer-events:none;" src="http://www.rd.com/wp-content/uploads/sites/2/2016/05/04-healthy-snacks-spicy-popcorn.jpg" alt="popcorn" width="800">
